@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', 'sans-serif';
}

@layer components {
  .spinningText {
    animation: spin 10s linear infinite;
  }

  .spinningText span {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 15rem;
  }

  @keyframes spin {
    0% {
      transform: rotate(45deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }
}